<h4 class="page-header" style="align-content:center">Employee Form</h4>
<div class="panel panel-heading">
    <form #employeeForm="ngForm" (ngSubmit)="addemployee(employeeForm)" novalidate>
        <div class="form-group">
        <div>
            <span>Name*</span>
            <input class="form-control" name="name" ngModel required #name="ngModel">
        </div>        
        <div>
            <span>Gender</span>
            <select class="form-control" name="gender" ngModel #gender="ngModel">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
            <div>
                <span>Annual Salary</span>
                <input class="form-control" name="salary" ngModel #salary="ngModel">
            </div>
            <div>
                <span>Date(M/D/Y)</span>
                <input class="form-control" name="date" ngModel #Date="ngModel">
            </div>
            </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>            
        </div>
    </form>
</div>
<div class="panel panel-primary" >
    <div class="panel-heading">
        Employee Data
    </div>
    <div class="panel-body">
        <div style="padding-bottom:10px"></div>
    <div class="table-responsive">
        <table class='table table-striped' *ngIf='employees && employees.length'>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Annual Salary</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let employee of employees'>
                    <td>{{employee.code}}</td>
                    <td>{{employee.name }}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.annualSalary}}</td>
                    <td>{{employee.dateOfBirth }}</td>
                    <td>
                        <button title="Edit" class="btn btn-primary" (click)="editUser(user.Id)">Edit</button>
                        <button title="Delete" class="btn btn-danger" (click)="deleteEmployee(employee.code)">Delete</button>
                    </td>

                </tr>
                <tr *ngIf="employees && employees.length==0">
                    <td colspan="5">
                        No employees to display
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>